$desktop: 1200;
$lg: 992;
$tablet: 768;
$sm: 610;
$phone: 468;

$lab: "Lab Grotesque", sans-serif;
$ttFirs: "TT Firs Neue", sans-serif;

$white: #FFFFFF;
$white100: #FDFDFD;

$gray100: #ECECEC;
$gray150: #DEDEDE;
$gray200: #CCCCCC;
$gray900: #3D3D3D;

$black: #000000;
$accent: #FF8C5A;

$orange100: #FFF3EE;
$orange500: #FFCDB8;