<footer class="footer indent" id="contacts">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__author">
                <a class="logo" href="">
                    <img class="logo__img" src="images/icons/footer-logo.svg" alt="логотип" width="63" height="40">
                </a>
                <a class="footer__author-link" href="">Политика конфиденциальности</a>
            </div>
            <ul class="footer__list">
                <li class="footer__item">
                    <span class="footer__name">Отдел заселения</span>
                    <a class="footer__link" href="tel:+79036301818">+7 (903) 630-18-18</a>
                </li>
                <li class="footer__item">
                    <span class="footer__name">Свяжитесь с нами</span>
                    <a class="footer__link" href="tel:+79060163333">+7 (906) 016-33-33</a>
                </li>
            </ul>
            <div class="footer__address">
                <span class="footer__name footer__name--short">Наше расположение</span>
                <a class="footer__address-link"
                   href="https://yandex.ru/maps/org/olimp/34592576917/?from=mapframe&ll=37.538242%2C55.773631&z=17"
                   target="_blank">Хорошёвский район, 3-й Хорошевский проезд, д.8, Москва</a>
            </div>
        </div>
    </div>
</footer>